[Desktop Entry]
Type=Application
Name=Rand Wallet
Comment=A shielded wallet for RAND
Exec=rand-wallet
Icon=rand-wallet
Terminal=false
Categories=Finance;Network;
